# Ambiente virtual
venv/
.venv/
env/

# Variáveis de ambiente
.env

# Python
__pycache__/
*.pyc

# Banco de dados local (SQLite antigo)
db.sqlite3

# Arquivos estáticos/mídia (se gerados localmente)
staticfiles/
media/

# Editor/IDE
.vscode/
.idea/

# Sistema
.DS_Store